:root {
    --p1_color: #14a02e;
    --p2_color: #b4202a;
}

@font-face {
    font-family: pixel;
    src: url(../font/Pixeled.ttf);
}

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    background-color: #2C3438;
    font-family: pixel;
}

.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-no-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
}

.flex-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-div-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}

.text-center {
    text-align: center;
}

/*START PAGE*/

/*ID*/
#head_title {
    text-align: center;
    font-size: 400%;
    margin-bottom: 3%;
    margin-top: 0%;
}

/*CLASS*/
.start-page-item {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page-button {
    color: #EFDD91;
    font-size: 300%;
    transform: scale(100%);
    transition: color 0.2s ease-out, transform 0.2s ease-out;
}

.start-page-button:hover {
    color: #c6b858;
    cursor: pointer;
    transform: scale(120%);
}

.color-yellow {
    color: #EFDD91;
}

/*HOW TO PLAY*/

/*ANIMATIONS*/
@keyframes fade-grow-in {
    0% {
        opacity: 0;
        transform: scale(0%);
    }

    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

/*ID*/
#how-to-body {
    padding: 2vw;
}

#how-to-title {
    color: #EFDD91;
    text-align: center;
    font-size: 400%;
    margin-bottom: 3%;
}

#how-to-play-grid {
    display: grid;
    grid-template-columns: auto auto;
}

#scroll-up {
    background-color: white;
    position: fixed;
    width: 7vw;
    right: 1vw;
    bottom: 1vh;
    border: solid black 10px;
    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
    animation: fade-grow-in 0.5s ease-in-out;
}

#scroll-up:hover {
    transform: scale(120%);
    cursor: pointer;
}

/*CLASS*/
.fade-out {
    animation: fade-grow-in 0.5s ease-in-out backwards;
}

.active-card {
    background-image: url(../img/cardSlot.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 15vw;
    font-size: 70%;
}

.back-button {
    position: absolute;
    background-image: url(../img/cardSlotSide.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 10.5vw;
    text-align: center;
    top: 2%;
    left: 1.5%;

    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
}

.back-button:hover {
    transform: scale(120%);
    cursor: pointer;
}

.grid-left {
    display: flex;
    width: 100%;
    margin-bottom: 20%;
}

.grid-right {
    display: flex;
    text-align: right;
    justify-content: right;
    width: 100%;
    margin-bottom: 20%;
}

.card-background {
    color: #EFDD91;
    background-image: url(../img/cardSlot.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 75%;
    padding: 0%;
    text-align: center;
}

.health-background {
    background-image: url(../img/cardSlotSide.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    width: 20vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 0%;
    text-align: center;
    font-size: 120%;
}

.health-background img {
    width: 40%;
    margin-right: 5%;
}

.ability-background {
    background-color: #452a1b88;
    color: #EFDD91;
    width: 20vw;
    height: 8vw;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 0%;
    text-align: center;
    font-size: 90%;
}

.ability-background p {
    color: white;
    font-size: 65%;
}

.how-to-description-right {
    width: 60%;
    padding: 0%;
    margin-left: 40%;
}

.how-to-description {
    width: 60%;
    padding: 0%;
}

.how-to-small-title {
    font-size: 200%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.text-align-right {
    text-align: right;
}

.tutorial-text {
    z-index: 2;
    position: absolute;
    font-weight: lighter;
    font-size: 140%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tutorial-text-before {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

/*GAME*/

/*ID*/
#game-body {
    overflow: hidden;
}

/*P1 END TURN*/
#end-turn-button-p1 {
    position: absolute;
    right: 2vw;
    bottom: 2vh;
    background-color: var(--p1_color);
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin: 0%;
    border-radius: 20%;
    filter: drop-shadow(1.5vh 1.5vh 0px var(--p1_color));
    transform: translateY(-1.5vh) translateX(-1.5vh);
    transition: all 0.2s ease-out;
}

#end-turn-button-p1:hover {
    cursor: pointer;
    filter: drop-shadow(0.5vh 0.5vh 0px var(--p1_color));
    transform: translateY(-0.5vh);
}

#end-turn-button-p1:active {
    cursor: pointer;
    filter: drop-shadow(0.0vh 0.0vh 0px var(--p1_color));
    transform: translateY(0vh);
}

/*P2 END TURN*/
#end-turn-button-p2 {
    position: absolute;
    right: 2vw;
    top: 2vh;
    background-color: var(--p2_color);
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin: 0%;
    border-radius: 20%;
    filter: drop-shadow(1.5vh 1.5vh 0px var(--p2_color));
    transform: translateY(-1.5vh) translateX(-1.5vh);
    transition: all 0.2s ease-out;
}

#end-turn-button-p2:hover {
    cursor: pointer;
    filter: drop-shadow(0.5vh 0.5vh 0px var(--p2_color));
    transform: translateY(-0.5vh);
}

#end-turn-button-p2:active {
    cursor: pointer;
    filter: drop-shadow(0.0vh 0.0vh 0px var(--p2_color));
    transform: translateY(0vh);
}

#orbs-p1 {
    position: absolute;
    bottom: 20%;
    right: -8%;
}

#orbs-p2 {
    position: absolute;
    top: 20%;
    right: -8%;
}

#hp-p1 {
    position: absolute;
    bottom: 20%;
    left: 1%;
}

#hp-p2 {
    position: absolute;
    top: 20%;
    left: 1%;
}

#overlay-p1 {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0vh;
    left: 0vw;
}

#overlay-p2 {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0vh;
    left: 0vw;
}

.overlay {
    background-color: transparent;
    color: transparent;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.overlay-active {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
    color: white;
}

#curr-selected-card {
    transform: translateY(-2vh);
    filter: drop-shadow(10px 10px 4px #14a02e);
}

#ability-display-p1 {
    position: absolute;
    left: 43.5vw;
    bottom: 30vh;
}

#ability-display-p2 {
    position: absolute;
    left: 43.5vw;
    top: 30vh;
}

/*CLASS*/
.game-flex {
    display: flex;
    width: 80vw;
    height: 25vh;
}

.ability-display {
    transform: scale(0%);
    text-align: center;
    z-index: 5;
    font-size: 50%;
    width: 13%;
    background-color: #452a1b88;
    color: #EFDD91;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.ability-display-active {
    opacity: 1;
    transform: scale(100%);
}

.noselect {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nomargin {
    margin: 0%;
}

.health-background-game {
    background-image: url(../img/cardSlotSide.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    width: 20vw;
    height: 7vw;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    text-align: center;
    font-size: 120%;
}

.health-background-game img {
    width: 25%;
    margin-right: 5%;
}

.game-margin {
    margin-top: 1vh;
}

.active-name-game {
    font-size: 150%;
}

.orb-text {
    position: relative;
    font-size: 120%;
}

.card-background-game {
    background-image: url(../img/cardSlot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52.5%;
    height: 80%;
    font-size: 50%;
    color: #EFDD91;
}

.deck-right {
    width: 13, 125%;
    height: 20%;
    position: fixed;
    right: -20vw;
    top: 40vh;
}

.deck-left {
    width: 13, 125%;
    height: 20%;
    position: fixed;
    left: -20vw;
    top: 40vh;
}

.active-card-game {
    position: relative;
    background-image: url(../img/cardSlot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 52.5%;
    height: 80%;
    font-size: 50%;
    color: #EFDD91;
    text-align: center;
    transform: translateY(0vh);
    transition: all 0.2s ease-out;
}

.active-card-game:hover {
    cursor: grab;
    transform: translateY(-2vh);
    filter: drop-shadow(10px 10px 4px #8b8255);
}

.active-card-game-actives {
    position: relative;
    background-image: url(../img/cardSlot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 52.5%;
    height: 80%;
    font-size: 50%;
    color: #EFDD91;
    text-align: center;
    transform: translateY(0vh);
    transition: transform 0.2s ease-out, filter 0.2s ease-out;
}

.active-card-game-actives:hover {
    cursor: grab;
    transform: translateY(-2vh);
    filter: drop-shadow(10px 10px 4px #247e72);
}

.glow {
    filter: drop-shadow(0px 0px 10px #41EAD4);
    transition: filter 0.2s ease-out;
}

.glow:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 30px #41EAD4);
}

.hand-selected {
    position: relative;
    transform: translateY(-3vh);
}

.active-icon {
    width: 2vw;
}

.active-icon-game {
    width: 1.5vw;
}

.active-header {
    width: 80%;
    margin-left: 13%;
    margin-top: 1%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.rarity-rare {
    color: #2789CD;
}

.active-sprite {
    margin-top: 2%;
    width: 75%;
}

.active-sprite-game {
    margin-top: 2%;
    width: 32%;
}

.active-footer {
    margin-top: 4vh;
    margin-right: 1.6vw;
    display: grid;
    grid-template-columns: 30% 20% 10% 20% 20%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.opacity-low {
    opacity: 0.5;
}

/*CREDITS*/
.credits-cat {
    color: #c6b858;
    text-align: center;
}

.credits-per {
    text-align: center;
    margin-bottom: 10vh;
}

/*PREGAME*/
input {
    height: 5vh;
    width: 10vw;
    margin: 2vw;
    font-family: pixel;
}

.small-title-pregame {
    text-align: center;
    font-size: 200%;
}

/*P1 END TURN*/
#confirm-button {
    position: relative;
    background-color: #14a02e;
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin: 0%;
    margin-top: 5vh;
    border-radius: 20%;
    width: 10vw;
    filter: drop-shadow(1.5vh 1.5vh 0px #59c135);
    transform: translateY(-1.5vh) translateX(-1.5vh);
    transition: all 0.2s ease-out;
}

#confirm-button:hover {
    cursor: pointer;
    filter: drop-shadow(0.5vh 0.5vh 0px #59c135);
    transform: translateY(-0.5vh);
}

#confirm-button:active {
    cursor: pointer;
    filter: drop-shadow(0.0vh 0.0vh 0px #59c135);
    transform: translateY(0vh);
}

.play-again-button {
    position: relative;
    background-color: #14a02e;
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin: 0%;
    margin-top: 5vh;
    border-radius: 20%;
    filter: drop-shadow(1.5vh 1.5vh 0px #59c135);
    transform: translateY(-1.5vh) translateX(-1.5vh);
    transition: all 0.2s ease-out;
}

.play-again-button:hover {
    cursor: pointer;
    filter: drop-shadow(0.5vh 0.5vh 0px #59c135);
    transform: translateY(-0.5vh);
}

.play-again-button:active {
    cursor: pointer;
    filter: drop-shadow(0.0vh 0.0vh 0px #59c135);
    transform: translateY(0vh);
}

/*LEADERBOARD*/
#leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 50vw;
}

td {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-collapse: collapse;
    margin: 20%;
    text-align: center;
}