@font-face {
    font-family: pixel;
    src: url(../font/Pixeled.ttf);
}

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    background-color: #2C3438;
    font-family: pixel;
}

.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-no-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
}

.flex-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-div-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.text-center {
    text-align: center;
}

/*START PAGE*/

/*ID*/
#head_title {
    text-align: center;
    font-size: 300%;
    margin-bottom: 3%;
}

/*CLASS*/
.start-page-item {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page-button {
    color: #EFDD91;
    font-size: 300%;
    transform: scale(100%);
    transition: color 0.2s ease-out, transform 0.2s ease-out;
}

.start-page-button:hover {
    color: #c6b858;
    cursor: pointer;
    transform: scale(120%);
}

/*HOW TO PLAY*/

/*ANIMATIONS*/
@keyframes fade-grow-in {
    0% {
        opacity: 0;
        transform: scale(0%);
    }

    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

/*ID*/
#how-to-body {
    padding: 2vw;
}

#how-to-title {
    color: #EFDD91;
    text-align: center;
    font-size: 400%;
    margin-bottom: 3%;
}

#how-to-play-grid {
    display: grid;
    grid-template-columns: auto auto;
}

#scroll-up {
    background-color: white;
    position: fixed;
    width: 7vw;
    right: 1vw;
    bottom: 1vh;
    border: solid black 10px;
    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
    animation: fade-grow-in 0.5s ease-in-out;
}

#scroll-up:hover {
    transform: scale(120%);
    cursor: pointer;
}

/*CLASS*/
.fade-out {
    animation: fade-grow-in 0.5s ease-in-out backwards;
}

.active-card {
    background-image: url(../img/cardSlot.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 15vw;
    font-size: 70%;
}

.back-button {
    position: absolute;
    background-image: url(../img/cardSlotSide.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 10.5vw;
    text-align: center;
    top: 1%;
    left: 1%;

    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
}

.back-button:hover {
    transform: scale(120%);
    cursor: pointer;
}

.grid-left {
    display: flex;
    width: 100%;
    margin-bottom: 20%;
}

.grid-right {
    display: flex;
    text-align: right;
    justify-content: right;
    width: 100%;
    margin-bottom: 20%;
}

.card-background {
    color: #EFDD91;
    background-image: url(../img/cardSlot.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 75%;
    padding: 0%;
    text-align: center;
}

.health-background {
    background-image: url(../img/cardSlotSide.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    width: 20vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 0%;
    text-align: center;
    font-size: 120%;
}

.health-background img {
    width: 40%;
    margin-right: 5%;
}

.ability-background {
    background-color: #452a1b88;
    color: #EFDD91;
    width: 20vw;
    height: 8vw;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 0%;
    text-align: center;
    font-size: 90%;
}

.ability-background p {
    color: white;
    font-size: 65%;
}

.how-to-description-right {
    width: 60%;
    padding: 0%;
    margin-left: 40%;
}

.how-to-description {
    width: 60%;
    padding: 0%;
}

.how-to-small-title {
    font-size: 200%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.text-align-right {
    text-align: right;
}

.tutorial-text {
    z-index: 2;
    position: absolute;
    font-weight: lighter;
    font-size: 140%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tutorial-text-before {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

/*GAME*/

/*ID*/
#game-body {
    overflow: hidden;
}

/*CLASS*/
.game-flex {
    display: flex;
    width: 80vw;
    height: 25vh;
}

.game-margin {
    margin-top: 1vh;
}

.active-name-game {
    font-size: 150%;
}

.card-background-game {
    background-image: url(../img/cardSlot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52.5%;
    height: 80%;
    font-size: 50%;
    color: #EFDD91;
}

.deck-right {
    width: 13,125%;
    height: 20%;
    position: fixed;
    right: -20vw;
    top: 40vh;
}

.deck-left {
    width: 13,125%;
    height: 20%;
    position: fixed;
    left: -20vw;
    top: 40vh;
}

.active-card-game {
    background-image: url(../img/cardSlot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 52.5%;
    height: 80%;
    font-size: 50%;
    color: #EFDD91;
    text-align: center;
}

.active-icon {
    width: 2vw;
}

.active-icon-game {
    width: 1.5vw;
}

.active-header {
    width: 80%;
    margin-left: 13%;
    margin-top: 1%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.rarity-rare {
    color: #2789CD;
}

.active-sprite {
    margin-top: 2%;
    width: 75%;
}

.active-sprite-game {
    margin-top: 2%;
    width: 32%;
}

.active-footer {
    margin-top: 4vh;
    margin-right: 1.6vw;
    display: grid;
    grid-template-columns: 30% 20% 10% 20% 20%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}